{% extends 'base.html'%}
{% block content %}
<title>Profile Sahifasi</title>
<!-- stil berish -->
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
    }

    form {
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .btn-primary {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
</style>
<h1>Profile viev page</h1>
<div style="background-color:beige; width: 100%;" class=" container mt-5 mb-4 p-5 d-flex justify-content-center">
     <div class="card p-4"> 
    <div style="height: 100%; width: 100%;" class=" image d-flex flex-column justify-content-center align-items-center"> 
         <img style="border-radius: 50%;" src="{{ user.image.url }}" height="100" width="100" />
        <span class="name mt-3">{{user.username}}</span> <span class="idd">{{user.email}}</span>
         <div class="d-flex flex-row justify-content-center align-items-center gap-2">   
            <span><i class="fa fa-copy"></i></span> </div> 
            <div class="d-flex flex-row justify-content-center align-items-center mt-3"> 
                <span class="number">
                    <span class="follow">{{user.phone_num}} </span></span> </div> 
                    <div class="d-flex flex-column mt-2">
                        <a href="{% url 'users:profile' %}" class="btn btn-outline-success mb-2">Edit Profile</a>
                        <a href="{% url  'users:reset_page' %}" class="btn btn-outline-primary">Reset password</a>
                    </div>
                    <div class="px-2 rounded mt-4 date">
                        <span class="join">Joined {{user.date_joined|date:"M d, Y"}}</span>
                    </div>
                    
                </div>
</div>
{% endblock %}



 