{% extends 'base.html' %}
{% block content %}
<title>Profile Sahifasi</title>
<!-- Custom Styling -->
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
    }

    .profile-container {
        background-color: beige;
        width: 100%;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        padding: 50px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .profile-image {
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }

    .profile-info {
        margin-top: 30px;
    }

    .profile-info span {
        display: block;
        margin-bottom: 15px;
        font-size: 1.2em;
    }

    .profile-info .number {
        font-weight: bold;
    }

    .btn-outline-success,
    .btn-outline-primary {
        width: 100%;
        margin-top: 15px;
        padding: 15px;
        font-size: 1.1em;
    }

    .join-date {
        margin-top: 30px;
        font-size: 1.1em;
    }
</style>

<h1>Profile Viev Page</h1>
<div class="profile-container mt-5 mb-4 p-5">
    <div class="card p-4">
        <div class="image d-flex flex-column justify-content-center align-items-center">
            <img class="profile-image" src="{{ user.image.url }}" />
            <div class="profile-info">
                <span class="name">{{ user.username }}</span>
                <span class="idd">{{ user.email }}</span>
                <span class="number">{{ user.phone_num }}</span>
                <div class="d-flex flex-column mt-2">
                    <a href="{% url 'users:profile' %}" class="btn btn-outline-success mb-2">Edit Profile</a>
                    <a href="{% url 'users:reset_page' %}" class="btn btn-outline-primary">Reset Password</a>
                </div>
                <div class="join-date px-2 rounded mt-4">
                    <span class="join">Joined {{ user.date_joined|date:"M d, Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
