<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>about page</h1>
    <p>
        UZBEKISTAN – TOP 10 PLACES TO VISIT
Uzbekistan is one of the fascinating countries in Central Asia and famous for its Silk Road cities of Samarkand, Bukhara, and Khiva. Twice the size of the UK, it has a rich cultural heritage and a long history steeped in tradition. You won’t be surprised to learn that it is home to four significant UNESCO World Heritage sites and six UNESCO Intangible Cultural Heritage listings.  Another thirty are waiting in the wings on the Tentative List.  From such a rich list of important places to visit, things to do and an enormous variety of sightseeing tours on offer, we present you with our pick of Uzbekistan Travel – Top 10 Places to Visit:
    </p>
</body>
</html>