<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
<body style="background-color: antiquewhite;">
 

        {% for place in places %}
        <h1>{{place.name}}</h1>
        <div>
        <p>{{place.discription}}
        </p>
        </div>
        <img style="height: 50% ; width: 50%;" src="{{ place.image.url }}" alt="">
        {% endfor %}

</body>
</html>