<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Landing page</h1>
    <p>
        <h1><a href="{% url  'users:register' %}">Register</a></h1>
    </p>
    <p>
        {% if user.is_authenticated %}
        <h1> <a href="{% url 'users:logout_page' %}">logout</a></h1>
        {% else %}
        <h1> <a href="{% url 'users:login_page' %}">login</a></h1>
        {% endif %}
        <h1><a href="{% url  'place:places_page' %}">places</a></h1>
    </p>
</body>
</html>